@layer -card {
  :root {
    /* Border */
    --card-border-style: var(--border-type-solid);
    --card-border-width: 0.5px;
    --card-border-color: var(--color-primary-300);
    --card-border-radius: var(--radius-6);

    /* Colors */
    --card-background-color: transparent;
    --card-box-shadow: 0 0.2rem 0.3rem var(--color-primary-100);

    /* Spacings */
    --card-padding-block: var(--spacing-fluid-s);
    --card-padding-inline: var(--spacing-fluid-s);
  }

  html.dark {
    .barrage-card {
      --card-background-color: transparent;
      --card-border-color: var(--color-primary-700);
      --card-box-shadow: 0 0.15rem 0.25rem var(--color-primary-800);

      &.is-primary {
        --card-background-color: var(--color-primary-900);
      }

      &.is-accent {
        --card-background-color: var(--color-primary-800);
      }

      &.is-deep-accent {
        --card-background-color: var(--color-primary-700);
      }
      &.is-disabled {
        opacity: 0.8;
        cursor: not-allowed;
        pointer-events: none;
        --card-border-color: var(--color-primary-800);
        --card-background-color: var(--color-primary-900);

        :deep(*) {
          cursor: not-allowed;
          pointer-events: none;
        }
      }
    }
  }

  .barrage-card {
    width: 100%;
    background-color: var(--card-background-color);
    border-radius: var(--card-border-radius);
    padding-block: var(--card-padding-block);
    padding-inline: var(--card-padding-inline);
    border-width: var(--card-border-width);
    border-style: var(--card-border-style);
    border-color: var(--card-border-color);
    box-shadow: var(--card-box-shadow);

    &.is-primary {
      --card-background-color: var(--color-primary-100);
    }

    &.is-accent {
      --card-background-color: var(--color-primary-200);
    }

    &.is-deep-accent {
      --card-background-color: var(--color-primary-300);
    }

    &.is-disabled {
      opacity: 0.8;
      cursor: not-allowed;
      pointer-events: none;
      --card-border-color: var(--color-primary-300);
      --card-background-color: var(--color-primary-100);

      :deep(*) {
        cursor: not-allowed;
        pointer-events: none;
      }
    }
  }
}
