@layer barrage-input-number {
  :root {
    --barrage-input-number-increase-position: 0;
    --barrage-input-number-decrease-position: 3rem;

    --barrage-input-number-button-border-color: var(--color-primary-200);
    --barrage-input-number-button-background: var(--color-primary-200);
  }

  html.dark {
    --barrage-input-number-button-border-color: var(--color-primary-800);
    --barrage-input-number-button-background: var(--color-primary-800);
  }

  .barrage-input-number {
    position: relative;
    display: inline-flex;
    width: 150px;
    line-height: 30px;
    vertical-align: middle;
    align-items: center;

    & .barrage-input {
      position: relative;
      font-size: var(--el-font-size-base);
      display: inline-flex;
      width: var(--el-input-width);
      line-height: var(--el-input-height);
      box-sizing: border-box;
      vertical-align: middle;
    }
    &__decrease,
    &__increase {
      position: absolute;
      width: fit-content;
      padding: 4px;
      height: auto;
      right: 0;
      bottom: var(--spacing-mobile-4-xs);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      z-index: 1;
      margin-right: 4px;
      cursor: pointer;

      .barrage-icon {
        display: none;
      }
      &:hover {
        background-color: var(--barrage-input-number-button-background);
      }
    }

    &__decrease {
      right: var(--barrage-input-number-decrease-position);
      border-right: var(--barrage-border-global-1);
      border-color: var(--barrage-input-number-button-border-color);

      &::before {
        background-position: center;
      }
    }
  }
}
