@layer barrage-pagination {
  :root {
    --barrage-pagination-background-color: transparent;
    --barrage-pagination-font-color: var(--color-primary-600);
    --barrage-pagination-current-items-font-color: var(--color-primary-800);
    --barrage-pagination-font-size: var(--font-size-fluid-1);
    --barrage-pagination-font-weight: var(--font-weight-semibold);

    --barrage-pagination-border-color: var(--color-primary-200);
    --barrage-pagination-border-width: 0.0625rem;
    --barrage-pagination-border-type: var(--border-type-solid);

    --barrage-pagination-button-padding: 0.5625rem 0.5rem;
    --barrage-pagination-button-border-radius: var(--radius-4);
  }

  html.dark {
    .barrage-pagination {
      --barrage-pagination-font-color: var(--color-primary-200);
      --barrage-pagination-current-items-font-color: var(--color-primary-100);

      &-data {
        --barrage-pagination-border-color: var(--color-primary-700);
      }

      button {
        --barrage-pagination-border-color: var(--color-primary-700);
      }
    }
  }

  .barrage-pagination {
    display: flex;
    align-items: stretch;
    background-color: var(--barrage-pagination-background-color);
    color: var(--barrage-pagination-font-color);

    &-data {
      display: flex;
      justify-content: center;
      align-items: center;
      order: 3;
      max-width: 411px;
      width: 100%;
      border-block: var(--barrage-pagination-border-width)
        var(--barrage-pagination-border-type)
        var(--barrage-pagination-border-color);
      font-size: var(--pagination-font-size);
      font-weight: var(--pagination-font-weight);

      &__current-items {
        color: var(--barrage-pagination-current-items-font-color);
        margin-right: 0.4rem;
      }
    }

    .btn {
      &-start,
      &-prev,
      &-next,
      &-end {
        .barrage-icon {
          --barrage-icon-width: 1rem;
          --barrage-icon-height: 1rem;
        }
      }

      &-start {
        order: 1;
        border-start-start-radius: var(
          --barrage-pagination-button-border-radius
        );
        border-end-start-radius: var(--barrage-pagination-button-border-radius);
      }

      &-prev {
        order: 2;
        border-inline-start: none;
      }

      &-next {
        order: 4;
        border-inline-end: none;
      }

      &-end {
        order: 5;
        border-start-end-radius: var(--barrage-pagination-button-border-radius);
        border-end-end-radius: var(--barrage-pagination-button-border-radius);
      }
    }

    button {
      padding: var(--barrage-pagination-button-padding);
      background-color: var(--barrage-pagination-background-color);
      color: var(--barrage-pagination-font-color);
      border-width: var(--barrage-pagination-border-width);
      border-style: var(--barrage-pagination-border-type);
      border: 1px solid;
      border-color: var(--barrage-pagination-border-color);

      &:hover {
        cursor: pointer;

        &:disabled {
          cursor: not-allowed;
        }
      }

      &:disabled {
        color: var(--barrage-pagination-border-color);
      }
    }
  }
}
