@layer barrage-button {
  :root {
    --button-width: max-content;
    --button-min-height: clamp(0.875rem, 0.8447rem + 0.1294vw, 1rem);
    --button-font-size: var(--font-size-base);
    --button-font-weight: var(--font-weight-medium);
    --button-text-color: var(--color-primary-900);
    --button-primary-text-color: var(--color-primary-50);
    --button-letter-spacing: clamp(
      0.0075rem,
      0.0073rem + 0.001vw,
      0.0084375rem
    );
    --button-icon-gap: var(--spacing-fluid-2-xs);
    --button-background-color: var(--color-primary-0);
    --button-border-color: var(--color-primary-500);
    --button-border-radius: var(--radius-4);
    --button-padding-block: var(--spacing-fluid-4-xs);
    --button-padding-inline: var(--spacing-fluid-3-xs);
  }

  html.dark {
    .barrage-button {
      --button-text-color: var(--color-primary-0);
      --button-background-color: var(--color-primary-900);

      &:hover {
        --button-background-color: var(--color-primary-700);
        --button-border-color: var(--color-primary-500);
      }

      &:active {
        --button-background-color: var(--color-primary-600);
        --button-border-color: var(--color-primary-100);
      }

      &:disabled {
        --button-text-color: var(--color-primary-700);
        --button-background-color: var(--color-primary-900);
        --button-border-color: var(--color-primary-700);
      }
      &.is-plain {
        background: transparent;
        &:hover {
          color: var(--color-primary-0);
          background: var(--color-primary-700);
          border-color: var(--color-primary-500);
        }
      }

      // Button type
      &--primary {
        --button-text-color: var(--color-primary-0);
        --button-background-color: var(--color-primary-700);
        --button-border-color: var(--color-primary-500);

        &:hover {
          --button-text-color: var(--color-primary-0);
          --button-background-color: var(--color-primary-600);
          --button-border-color: var(--color-primary-300);
        }

        &:active {
          --button-text-color: var(--color-primary-0);
          --button-background-color: var(--color-primary-500);
          --button-border-color: var(--color-primary-300);
        }

        &:disabled {
          --button-text-color: var(--color-primary-500);
          --button-background-color: var(--color-primary-800);
          --button-border-color: var(--color-primary-600);
        }
      }

      // Button type SUCCESS
      &--success {
        --button-text-color: var(--color-gray-100);
        --button-background-color: var(--color-green-700);
        --button-border-color: var(--color-green-900);

        &.is-plain {
          border-color: var(--color-green-700);
        }

        &:hover {
          --button-text-color: var(--color-gray-50);
          --button-background-color: var(--color-green-600);
          --button-border-color: var(--color-green-800);
        }

        &:active {
          --button-text-color: var(--color-gray-50);
          --button-background-color: var(--color-green-400);
          --button-border-color: var(--color-green-600);
        }

        &:disabled {
          --button-text-color: var(--color-green-700);
          --button-background-color: var(--color-green-900);
          --button-border-color: var(--color-green-700);
        }
      }

      // Button type DANGER
      &--danger {
        --button-text-color: var(--color-primary-0);
        --button-background-color: var(--color-red-900);
        --button-border-color: var(--color-red-800);

        &:hover {
          --button-text-color: var(--color-red-0);
          --button-background-color: var(--color-red-800);
          --button-border-color: var(--color-red-700);
        }

        &:active {
          --button-text-color: var(--color-red-100);
          --button-background-color: var(--color-red-300);
          --button-border-color: var(--color-red-400);
        }

        &:disabled {
          --button-text-color: var(--color-red-600);
          --button-background-color: var(--color-red-900);
          --button-border-color: var(--color-red-700);
        }
        &.is-plain {
          color: var(--color-red-100);
          background: transparent;
          border-color: var(--color-red-200);
          &:hover {
            color: var(--color-red-0);
            background: var(--color-red-300);
            border-color: var(--color-red-400);
          }
        }
      }

      // Button type WARNING
      &--warning {
        --button-text-color: var(--color-yellow-100);
        --button-background-color: var(--color-yellow-700);
        --button-border-color: var(--color-yellow-800);

        &:hover {
          --button-text-color: var(--color-yellow-0);
          --button-background-color: var(--color-yellow-600);
          --button-border-color: var(--color-yellow-700);
        }

        &:active {
          --button-text-color: var(--color-yellow-100);
          --button-background-color: var(--color-yellow-400);
          --button-border-color: var(--color-yellow-500);
        }

        &:disabled {
          --button-text-color: var(--color-yellow-700);
          --button-background-color: var(--color-yellow-900);
          --button-border-color: var(--color-yellow-700);
        }
      }

      // Button type INFO
      &--info {
        --button-text-color: var(--color-blue-100);
        --button-background-color: var(--color-blue-500);
        --button-border-color: var(--color-blue-800);

        &:hover {
          --button-text-color: var(--color-blue-0);
          --button-background-color: var(--color-blue-400);
          --button-border-color: var(--color-blue-700);
        }

        &:active {
          --button-text-color: var(--color-blue-0);
          --button-background-color: var(--color-blue-300);
          --button-border-color: var(--color-blue-400);
        }

        &:disabled {
          --button-text-color: var(--color-blue-500);
          --button-background-color: var(--color-blue-300);
          --button-border-color: var(--color-blue-800);
        }
      }
    }
  }

  .barrage-button {
    width: var(--button-width);
    min-height: var(--button-min-height);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    letter-spacing: var(--button-letter-spacing);
    color: var(--button-text-color);
    background-color: var(--button-background-color);
    border: var(--border-size-1) var(--border-type-solid)
      var(--button-border-color);
    border-radius: var(--button-border-radius);
    padding-block: var(--button-padding-block);
    padding-inline: var(--button-padding-inline);
    cursor: pointer;
    transition:
      background-color var(--transition-duration) ease-out,
      border-color var(--transition-duration) ease-out;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 var(--button-icon-gap);
    }

    &:focus-visible {
      outline: var(--outline-global);
      outline-offset: var(--outline-global-offset);
    }

    &:hover {
      --button-background-color: var(--color-primary-100);
      --button-border-color: var(--color-primary-700);
    }

    &:active {
      --button-background-color: var(--color-primary-400);
      --button-border-color: var(--color-primary-700);

      outline: none;
    }

    &:disabled {
      --button-text-color: var(--color-primary-500);
      --button-background-color: var(--color-primary-50);
      --button-border-color: var(--color-primary-300);

      cursor: not-allowed;
    }

    &.is-circle {
      border-radius: 20px;
    }

    &.icon-only {
      --button-width: clamp(2.875rem, 2.8447rem + 0.1294vw, 3rem);
      --button-padding-inline: clamp(0.75rem, 0.7348rem + 0.0647vw, 0.8125rem);
    }

    // Button sizes
    &--small {
      --button-min-height: clamp(2.125rem, 2.0643rem + 0.2589vw, 2.375rem);
      --button-padding-block: clamp(0.275rem, 0.2598rem + 0.0647vw, 0.2375rem);
      --button-padding-inline: clamp(0.5125rem, 0.6973rem + 0.0647vw, 0.675rem);

      &.icon-only {
        --button-width: clamp(2.125rem, 2.0643rem + 0.2589vw, 2.375rem);
        --button-padding-inline: clamp(0.5rem, 0.4697rem + 0.1294vw, 0.625rem);
      }

      .barrage-icon {
        --icon-width: 1rem;
        --icon-height: 1rem;
      }
    }
    &.is-plain {
      background: transparent;
      &:hover {
        color: var(--color-primary-900);
        background: var(--color-primary-200);
        border-color: var(--color-primary-400);
      }
    }

    &--large {
      --button-padding-inline: clamp(1.25rem, 1.1438rem + 0.4531vw, 1.6875rem);

      &.icon-only {
        --button-width: clamp(3.125rem, 2.9733rem + 0.6472vw, 3.75rem);
        --button-padding-block: var(--spacing-desktop-xs);
        --button-padding-inline: var(--spacing-desktop-xs);
      }
    }

    // Button type
    &--primary {
      --button-text-color: var(--color-primary-900);
      --button-background-color: var(--color-primary-200);
      --button-border-color: var(--color-primary-400);

      &:hover {
        --button-text-color: var(--color-primary-0);
        --button-background-color: var(--color-primary-300);
        --button-border-color: var(--color-primary-500);
      }

      &:active {
        --button-text-color: var(--color-primary-100);
        --button-background-color: var(--color-primary-300);
        --button-border-color: var(--color-primary-400);
      }

      &:disabled {
        --button-text-color: var(--color-primary-400);
        --button-background-color: var(--color-primary-100);
        --button-border-color: var(--color-primary-400);
      }
    }

    // Button type SUCCESS
    &--success {
      --button-text-color: var(--color-gray-50);
      --button-background-color: var(--color-green-400);
      --button-border-color: var(--color-green-700);

      &.is-plain {
        border-color: var(--color-green-400);
      }

      &:hover {
        --button-text-color: var(--color-gray-50);
        --button-background-color: var(--color-green-200);
        --button-border-color: var(--color-green-600);
      }

      &:active {
        --button-text-color: var(--color-gray-50);
        --button-background-color: var(--color-green-200);
        --button-border-color: var(--color-green-300);
      }

      &:disabled {
        --button-text-color: var(--color-green-400);
        --button-background-color: var(--color-green-100);
        --button-border-color: var(--color-green-400);
      }
    }

    // Button type DANGER
    &--danger {
      --button-text-color: var(--color-gray-50);
      --button-background-color: var(--color-red-300);
      --button-border-color: var(--color-red-700);

      &:hover {
        --button-text-color: var(--color-gray-50);
        --button-background-color: var(--color-red-200);
        --button-border-color: var(--color-red-600);
      }

      &:active {
        --button-text-color: var(--color-gray-50);
        --button-background-color: var(--color-red-200);
        --button-border-color: var(--color-red-300);
      }

      &:disabled {
        --button-text-color: var(--color-red-300);
        --button-background-color: var(--color-red-100);
        --button-border-color: var(--color-red-400);
      }
      &.is-plain {
        color: var(--color-red-900);
        background: var(--color-red-0);
        border-color: var(--color-red-200);
        &:hover {
          color: var(--color-gray-50);
          background: var(--color-red-300);
          border-color: var(--color-red-500);
        }
      }
    }

    // Button type WARNING
    &--warning {
      --button-text-color: var(--color-gray-50);
      --button-background-color: var(--color-yellow-400);
      --button-border-color: var(--color-yellow-700);

      &:hover {
        --button-text-color: var(--color-gray-50);
        --button-background-color: var(--color-yellow-200);
        --button-border-color: var(--color-yellow-600);
      }

      &:active {
        --button-text-color: var(--color-gray-50);
        --button-background-color: var(--color-yellow-200);
        --button-border-color: var(--color-yellow-300);
      }

      &:disabled {
        --button-text-color: var(--color-yellow-300);
        --button-background-color: var(--color-yellow-100);
        --button-border-color: var(--color-yellow-300);
      }
    }

    // Button type INFO
    &--info {
      --button-text-color: var(--color-gray-50);
      --button-background-color: var(--color-blue-400);
      --button-border-color: var(--color-blue-700);

      &:hover {
        --button-text-color: var(--color-gray-50);
        --button-background-color: var(--color-blue-200);
        --button-border-color: var(--color-blue-600);
      }

      &:active {
        --button-text-color: var(--color-gray-50);
        --button-background-color: var(--color-blue-200);
        --button-border-color: var(--color-blue-300);
      }

      &:disabled {
        --button-text-color: var(--color-blue-300);
        --button-background-color: var(--color-blue-100);
        --button-border-color: var(--color-blue-300);
      }
    }
  }
}
