@layer barrage-tab {
  :root {
    --barrage-tab-bar-width: 100%;
    --barrage-tab-bar-height: 0.1875rem;
    --barrage-tab-bar-background-color: transparent;
    --barrage-tab-runway-color: var(--color-primary-200);
    --barrage-tab-runway-size: 0.0625rem;
    --barrage-tab-color: var(--color-primary-900);
    --barrage-tab-font-size: var(--font-size-fluid-4);
    --barrage-tab-font-weight: var(--font-weight-semibold);
    --barrage-tab-item-gap: var(--spacing-fluid-s);
    --barrage-tab-item-padding-block: clamp(
      0.625rem,
      0.5036rem + 0.5178vw,
      1.125rem
    );
    --barrage-tab-item-padding-inline: clamp(
      0.8125rem,
      0.7367rem + 0.3236vw,
      1.125rem
    );
    --barrage-tab-pane-padding-block: var(--spacing-fluid-2-xl);
    --barrage-tab-transition-duration: 0.2s;
  }

  html.dark {
    .barrage-tabs {
      &__nav-wrap {
        &::after {
          --barrage-tab-runway-color: var(--color-primary-500);
        }
      }
      &__active-bar {
        background-color: var(--color-primary-0);
      }

      &__item {
        color: var(--color-primary-200);

        &:hover {
          --barrage-tab-color: var(--color-primary-100);
        }

        &:active {
          --barrage-tab-color: var(--color-primary-0);
          color: var(--color-primary-300);
        }

        &.is-active {
          --barrage-tab-color: var(--color-primary-100);
          color: var(--color-primary-0);
          /*  border-bottom: 2px solid var(--color-primary-0); */
        }
      }
    }
  }

  .barrage-tabs {
    display: flex;

    &__header {
      padding: 0;
      position: relative;
      margin: 0 0 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__header-vertical {
      flex-direction: column;
    }

    &__active-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      background-color: var(--color-primary-900);
      z-index: 1;
      transition:
        width 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
        transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
      list-style: none;
      background-color: var(--color-primary-900);
    }

    &__new-tab {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--color-primary-0);
      height: 20px;
      width: 20px;
      line-height: 20px;
      margin: 10px 0 10px 10px;
      border-radius: 3px;
      text-align: center;
      font-size: 12px;
      color: var(--color-primary-900);
      cursor: pointer;
      transition: all 0.15s;

      & .is-icon-plus {
        height: inherit;
        width: inherit;
        transform: scale(0.8, 0.8);

        svg {
          vertical-align: middle;
        }
      }

      &:hover {
        color: var(--color-primary-700);
      }
    }

    &__new-tab-vertical {
      margin-left: 0;
    }

    &__nav-wrap {
      overflow: hidden;
      margin-bottom: -1px;
      position: relative;
      flex: 1 auto;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: var(--color-primary-400);
        z-index: 1;
      }

      &.is-scrollable {
        padding: 0 20px;
        box-sizing: border-box;
      }
    }

    &__nav-scroll {
      overflow: auto;
    }

    &__nav-next,
    &__nav-prev {
      position: absolute;
      cursor: pointer;
      line-height: 44px;
      font-size: 12px;
      color: var(--color-primary-0);
      width: 20px;
      text-align: center;
    }

    &__nav-next {
      right: 0;
    }

    &__nav-prev {
      right: 0;
    }

    &__nav {
      display: flex;
      white-space: nowrap;
      position: relative;
      transition: transform 0.3s;
      z-index: 2;

      &.strech {
        min-width: 100%;
        display: flex;
        & > * {
          flex: 1;
          text-align: center;
        }
      }
    }

    &__item {
      padding: 0 20px;
      height: 48px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      font-size: var(--barrage-tab-font-size);
      font-weight: 500;
      color: var(--color-primary-600);
      position: relative;

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: var(--barrage-tab-bar-width);
        height: var(--barrage-tab-bar-height);
        background-color: var(--barrage-tab-bar-background-color);
      }

      &::after {
        width: 0;
        z-index: 10;
      }

      &:hover {
        cursor: pointer;

        --barrage-tab-color: var(--color-primary-900);
      }

      &:active {
        --barrage-tab-color: var(--color-primary-900);
        color: var(--color-primary-700);
      }

      &.is-focus {
        outline: none;
      }

      &.is-active {
        --barrage-tab-color: var(--color-primary-900);
        --barrage-tab-bar-background-color: var(
          --barrage-color-magenta-standard
        );
        color: var(--color-primary-800);
        outline: none;
      }
    }

    &__content {
      overflow: hidden;
      position: relative;
      flex-grow: 1;
    }

    /* ----------------------- */

    &__top,
    __bottom {
      & .barrage-tabs__header {
        & .barrage-tabs__item:nth-child(2) {
          padding-left: 0;
        }
        & .barrage-tabs__item:last-child {
          padding-right: 0;
        }
      }

      &.barrage-tabs--border-card,
      &.barrage-tabs--card {
        & .barrage-tabs__header {
          & .barrage-tabs__item:nth-child(2) {
            padding-left: 20px;
          }
          & .barrage-tabs__item:last-child {
            padding-right: 20px;
          }
        }
      }
    }

    &__card {
      & .barrage-tabs__header {
        height: 40px;
      }
      & .barrage-tabs__header .barrage-tabs__nav-wrap::after {
        content: none;
      }
      & .barrage-tabs__header .barrage-tabs__nav {
        border: 1px solid var(--color-primary-0);
        border-bottom: none;
        border-radius: 4px 4px 0 0;
        box-sizing: border-box;
      }
      & .barrage-tabs__header .barrage-tabs__active-bar {
        display: none;
      }
      & .barrage-tabs__header .barrage-tabs__item .is-icon-close {
        position: relative;
        font-size: 12px;
        width: 0;
        height: 14px;
        overflow: hidden;
        right: -2px;
        transform-origin: 100% 50%;
      }
      & .barrage-tabs__header .barrage-tabs__item {
        border-bottom: 1px solid transparent;
        border-left: 1px solid var(--color-primary-0);
        transition:
          color var(--barrage-tab-transition-duration)
            cubic-bezier(0.645, 0.045, 0.355, 1),
          padding var(--barrage-tab-transition-duration)
            cubic-bezier(0.645, 0.045, 0.355, 1);

        &:first-child {
          border-left: none;
        }

        &.is-closable {
          &:hover {
            padding-left: 13px;
            padding-right: 13px;

            & .is-icon-close {
              width: 14px;
            }
          }
        }

        &.is-active {
          border-bottom-color: red;

          &.is-closable {
            padding-left: 20px;
            padding-right: 20px;

            .is-icon-close {
              width: 14px;
            }
          }
        }
      }
    }

    &__border-card {
      background: var(--color-primary-0);
      border: 1px solid var(--color-primary-0);

      & .barrage-tabs__content {
        padding: 15px;
      }
      & .barrage-tabs__header {
        background-color: var(--color-primary-0);
        border-bottom: 1px solid var(--color-primary-0);
        margin: 0;
      }
      & .barrage-tabs__header .barrage-tabs__nav-wrap::after {
        content: none;
      }
      & .barrage-tabs__header .barrage-tabs__item {
        transition: all var(--barrage-tab-transition-duration)
          getCssVar('transition-function-ease-in-out-bezier');
        border: 1px solid transparent;
        margin-top: -1px;
        color: var(--color-primary-0);

        &:first-child {
          margin-left: -1px;
        }

        & + .barrage-tabs__item {
          margin-left: -1px;
        }

        &.is-active {
          color: var(--color-primary-0);
          background-color: var(--color-primary-0);
          border-right-color: var(--color-primary-0);
          border-left-color: var(--color-primary-0);
        }

        &:not(.is-disabled):hover {
          color: var(--color-primary-0);
        }

        &.is-disabled {
          color: var(--color-primary-100);
        }
      }

      & .barrage-tabs__header .is-scrollable .barrage-tabs__item:first-child {
        margin-left: 0;
      }
    }

    &--bottom {
      flex-direction: column;

      & .barrage-tabs__header.is-bottom {
        margin-bottom: 0;
        margin-top: 10px;
      }
      &.barrage-tabs--border-card {
        & .barrage-tabs__header.is-bottom {
          border-bottom: 0;
          border-top: 1px solid var(--color-primary-0);
        }

        & .barrage-tabs__nav-wrap.is-bottom {
          margin-top: -1px;
          margin-bottom: 0;
        }

        & .barrage-tabs__item.is-bottom:not(.is-active) {
          border: 1px solid transparent;
        }

        & .barrage-tabs__item.is-bottom {
          margin: 0 -1px -1px;
        }
      }
    }

    &--left,
    &--right {
      overflow: hidden;

      .barrage-tabs__header.is-left,
      .barrage-tabs__header.is-right,
      .barrage-tabs__nav-wrap.is-left,
      .barrage-tabs__nav-wrap.is-right,
      .barrage-tabs__nav-scroll {
        height: 100%;
      }

      .barrage-tabs__active-bar.is-left,
      .barrage-tabs__active-bar.is-right {
        top: 0;
        bottom: auto;
        width: 2px;
        height: auto;
      }

      .barrage-tabs__nav-wrap.is-left,
      .barrage-tabs__nav-wrap.is-right {
        margin-bottom: 0;

        & .barrage-tabs__nav-prev,
        & .barrage-tabs__nav-next {
          height: 30px;
          line-height: 30px;
          width: 100%;
          text-align: center;
          cursor: pointer;

          i {
            transform: rotateZ(90deg);
          }
        }

        & .barrage-tabs__nav-prev {
          left: auto;
          top: 0;
        }

        & .barrage-tabs__nav-next {
          right: auto;
          bottom: 0;
        }

        &.is-scrollable {
          padding: 30px 0;
        }

        &::after {
          height: 100%;
          width: 2px;
          bottom: auto;
          top: 0;
        }
      }

      .barrage-tabs__nav.is-left,
      .barrage-tabs__nav.is-right {
        flex-direction: column;
      }

      .barrage-tabs__item.is-left {
        justify-content: flex-end;
      }

      .barrage-tabs__item.is-right {
        justify-content: flex-start;
      }
    }

    &--left {
      flex-direction: row-reverse;

      .barrage-tabs__header.is-left {
        margin-bottom: 0;
        margin-right: 10px;
      }
      .barrage-tabs__nav-wrap.is-left {
        margin-right: -1px;

        &::after {
          left: auto;
          right: 0;
        }
      }
      .barrage-tabs__active-bar.is-left {
        right: 0;
        left: auto;
      }
      .barrage-tabs__item.is-left {
        text-align: right;
      }

      &.barrage-tabs--card {
        .barrage-tabs__active-bar.is-left {
          display: none;
        }

        .barrage-tabs__item.is-left {
          border-left: none;
          border-right: 1px solid var(--color-primary-0);
          border-bottom: none;
          border-top: 1px solid var(--color-primary-0);
          text-align: left;
        }

        .barrage-tabs__item.is-left:first-child {
          border-right: 1px solid var(--color-primary-0);
          border-top: none;
        }

        .barrage-tabs__item.is-left.is-active {
          border: 1px solid var(--color-primary-0);
          border-right-color: #fff;
          border-left: none;
          border-bottom: none;

          &:first-child {
            border-top: none;
          }

          &:last-child {
            border-bottom: none;
          }
        }

        .barrage-tabs__nav {
          border-radius: 4px 0 0 4px;
          border-bottom: 1px solid red;
          border-right: none;
        }

        .barrage-tabs__new-tab {
          float: none;
        }
      }

      &.barrage-tabs--border-card {
        .barrage-tabs__header.is-left {
          border-right: 1px solid var(--color-primary-0);
        }

        .barrage-tabs__item.is-left {
          border: 1px solid transparent;
          margin: -1px 0 -1px -1px;

          &.is-active {
            border-color: transparent;
            border-top-color: rgb(209, 219, 229);
            border-bottom-color: red;
          }
        }
      }
    }

    &--right {
      .barrage--tabs__header.is-right {
        margin-bottom: 0;
        margin-left: 10px;
      }

      .barrage--tabs__nav-wrap.is-right {
        margin-left: -1px;

        &::after {
          left: 0;
          right: auto;
        }
      }

      .barrage--tabs__active-bar.is-right {
        left: 0;
      }

      &.barrage--tabs--card {
        .barrage--tabs__active-bar.is-right {
          display: none;
        }

        .barrage--tabs__item.is-right {
          border-bottom: none;
          border-top: 1px solid var(--color-primary-0);
        }

        .barrage--tabs__item.is-right:first-child {
          border-left: 1px solid var(--color-primary-0);
          border-top: none;
        }

        .barrage--tabs__item.is-right.is-active {
          border: 1px solid var(--color-primary-0);
          border-left-color: #fff;
          border-right: none;
          border-bottom: none;

          &:first-child {
            border-top: none;
          }

          &:last-child {
            border-bottom: none;
          }
        }

        .barrage--tabs__nav {
          border-radius: 0 4px 4px 0;
          border-bottom: 1px solid red;
          border-left: none;
        }
      }
      &.barrage--tabs--border-card {
        .barrage--tabs__header.is-right {
          border-left: 1px solid var(--color-primary-0);
        }

        .barrage--tabs__item.is-right {
          border: 1px solid transparent;
          margin: -1px -1px -1px 0;

          &.is-active {
            border-color: transparent;
            border-top-color: rgb(209, 219, 229);
            border-bottom-color: red;
          }
        }
      }
    }

    &--top {
      flex-direction: column-reverse;
    }
  }
}

/* ANIMATIONS */
.slideInRight-transition,
.slideInLeft-transition {
  display: inline-block;
}

.slideInRight-enter {
  animation: slideInRight-enter var(--barrage-tab-transition-duration);
}

.slideInRight-leave {
  position: absolute;
  left: 0;
  right: 0;
  animation: slideInRight-leave var(--barrage-tab-transition-duration);
}

.slideInLeft-enter {
  animation: slideInLeft-enter var(--barrage-tab-transition-duration);
}

.slideInLeft-leave {
  position: absolute;
  left: 0;
  right: 0;
  animation: slideInLeft-leave var(--barrage-tab-transition-duration);
}

@keyframes slideInRight-enter {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform-origin: 0 0;
    transform: translateX(0);
  }
}

@keyframes slideInRight-leave {
  0% {
    transform-origin: 0 0;
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform-origin: 0 0;
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slideInLeft-enter {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform-origin: 0 0;
    transform: translateX(0);
  }
}

@keyframes slideInLeft-leave {
  0% {
    transform-origin: 0 0;
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform-origin: 0 0;
    transform: translateX(-100%);
    opacity: 0;
  }
}
