@layer base {
  :root {
    --body-font-family: var(--font-primary);
    --body-font-size: var(--font-size-base);
    --body-line-height: var(--font-line-height-base);
    // label text color
    --body-color: var(--color-primary);
    --body-background: var(--color-gray-100);
  }

  html {
    font-size: 100%;
    width: 100vw;
    overflow-x: hidden;

    &.dark {
      --body-background: var(--color-darkmode-600);
    }
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    letter-spacing: 0.0084rem;
    color: var(--body-color);
    background-color: var(--body-background);
    width: 100% !important;
  }

  $scrollbar-width: 8px;
  $scrollbar-track-color: trasparent;
  $scrollbar-thumb-color: var(--color-primary-300);
  $scrollbar-thumb-hover-color: var(--color-primary-400);

  ::-webkit-scrollbar {
    width: $scrollbar-width;
    height: $scrollbar-width;
  }

  ::-webkit-scrollbar-track {
    background: $scrollbar-track-color;
  }

  ::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-thumb-hover-color;
  }

  /* For Firefox */
  .scrollable-element {
    scrollbar-width: auto;
    scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
  }
}

html.dark {
  --color-primary: var(--shade-0);
  $scrollbar-thumb-color: var(--color-blue-600);
  $scrollbar-thumb-hover-color: var(--color-primary-800);
}
